doctype html
head
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')

    link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css')
    script(src='https://cdn.jsdelivr.net/npm/sweetalert2@11')
    link(rel='stylesheet' href='/css/newLogin.css')
    title Asset Management

.container
    .card
        .card_title
            h1 Login
            span Please enter your credentials to login.
        .form  
            form#loginForm
                input#email(type='email' name='email' placeholder='Email' required='')
                input#password(type='password' name='password' placeholder='Password' required='')
                button(type='submit') Log In
                // Add Google and GitHub sign-in buttons
                span ----------- OR ------------
                .social-buttons
                    //- a.btn.btn-google(href='/auth/google')
                    //-     i.fab.fa-google
                    //-     | Sign in with Google

                    a.button.button--social-login.button--googleplus(href='/auth/google')(style='color:white')
                        i.icon.fa.fa-google-plus
                        | Login With Google +
                    a.button.button--social-login.button--github(href='/auth/github')(style='color:white;margin-top:3px')
                        i.icon.fa.fa-github
                        | Login With Github


        //- a.btn.btn-github(href='/auth/github')
        //-     i.fab.fa-github
        //-     | Sign in with GitHub

#toast-container
script(src='/js/newLogin.js')