doctype html
html(lang='en', data-bs-theme='dark')
head
  title Asset Management
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css')
  script(src='https://kit.fontawesome.com/ae360af17e.js' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css')
  link(rel='stylesheet' href='/css/registerUser.css')
  script(src='https://code.jquery.com/jquery-3.6.4.min.js')
.wrapper
  .main
    nav.navbar.navbar-expand.px-3.border-bottom(style='background-color: #3c25bf;')
      .navbar-collapse.navbar
        form.d-flex.mx-2
          button.navbar-toggler(type='button' data-bs-toggle='offcanvas' style='display: block; color: #fff; background-color: #3c25bf;' data-bs-target='#offcanvasNavbar' aria-controls='offcanvasNavbar' aria-label='Toggle navigation')
            span.navbar-toggler-icon(style=' color: #fff; background-color: #3c25bf; display: none;')
            i.fas.fa-bars
          a.navbar-brand(href='/adminPortal' style='margin-left: 10px;') Asset Management
        ul.navbar-nav
          //
          a#add-user.nav-link(href='/trackIssues' style='font-size: 1rem; position: relative; margin-right: 15px;')
              i.fa-solid.fa-bell
              span#issue-number.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger
                | 0
          li.nav-item
            span#user-name(style='margin-right: 5px; font-size: 1rem;')
            a#logout.nav-icon.pe-md-8(href='/logout' style='color: #ffffff;margin-right: 5px')
               
              i.fa-solid.fa-arrow-right-from-bracket(style='font-size: 1rem;')
            .dropdown-menu.dropdown-menu-end
              a.dropdown-item(onclick='logout()') Logout
    #offcanvasNavbar.offcanvas.offcanvas-start(tabindex='-1' aria-labelledby='offcanvasNavbarLabel')
      .offcanvas-header(style='background-color: #3c25bf; height: 73px;')
        h5#offcanvasNavbarLabel.offcanvas-title Asset Management
        button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
      .offcanvas-body
        ul.navbar-nav
          li.nav-item
            a.nav-link.active(style='color: #fff;' aria-current='page' href='/adminPortal') Home
          li.nav-item
            a.nav-link.active(style='color: #fff;' aria-current='page' href='/trackIssues') Track Issues
          li.nav-item
            a.nav-link(style='color: #fff;' href='/addVendor') Add Vendor
          li.nav-item
            a.nav-link(style='color: #fff;' href='/addQuotation') Add Quotation
    main.content.px-3.py-2
      .container-fluid
        .mb-3
          h4#role Register User
        // Form Element
        .card.border-0
          .card-body
            form#registrationForm(style='max-width: 300px; margin: auto; padding: 20px; border: 1px solid #fff;')
              .mb-3
                label.form-label(for='username') 
                  |Username
                  span.text-danger *
                input#username.form-control(type='text' name='username' placeholder='Username' required='')
              .mb-3
                label.form-label(for='email') 
                  |Email
                  span.text-danger *
                input#email.form-control(type='email' name='email' placeholder='Email'  required='')
              // New Dropdown for User Role
              .mb-3
                label.form-label(for='userRoleDropdown') 
                  |User Role
                  span.text-danger *
                select#userRoleDropdown.form-select(name='userRole' required='')
                  // Options will be dynamically added here
              // Password Field
              .mb-3
                label.form-label(for='password') 
                  |Password
                  span.text-danger *
                input#password.form-control(type='password' name='password' placeholder='Password' required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+}{'\":;?/>.<,])(?=.*[a-zA-Z]).{8,}" title="Password must be at least 8 characters long and contain at least one lowercase letter, one uppercase letter, one number, and one special character")
              // Team field
              #teamDropdown.mb-3
                label.form-label(for='team') 
                  |Team
                  span.text-danger *
                select#team.form-select(name='team' placeholder='Team' required='')
              button#registerUserForm.btn.btn-primary(type='submit')(style='margin-left:169px') Register
  // Register New Asset Modal
script(src='https://cdn.plot.ly/plotly-latest.min.js')
script(src='https://cdn.jsdelivr.net/npm/sweetalert2@10')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js')
script(src='/js/registerUser.js')
